{% extends 'base.html' %}
{% block content %}
<head>
    <title>Query 11</title>
</head>
<body>
    <h2>Most popular genre at each decade</h2>
    
    <table border="1">
        <tr>
            <th>Decade</th>
            <th>Genre</th>
            <th>Average Metascore</th>
            <th>Show Count</th>
        </tr>
        {% for row in q11 %}
        <tr>
            <td>{{ row.decade}}</td>
            <td>{{ row.genre_name }}</td>
            <td>{{ row.avg_metascore }}</td>
            <td>{{ row.show_count}}</td>
        </tr>
        {% endfor %}
    </table>
    
    <p><a href="/queries/">Back to Queries</a></p>
</body>
{% endblock %}