{% extends 'base.html' %}
{% block content %}
<head>
    <title>Query 13</title>
    <link rel="stylesheet" href="/static/queries.css">
</head>
<body>
    <h2>Top 20 Production Companies</h2>
    <p>*CV: Coefficient of Variation of MetaScore</p>
    <p>*Top Rated: percentage of 'Universal acclaim' shows (MetaScore &gt 80)</p>
    
    <table border="1">
        <tr>
            <th>Rank</th>
            <th>Company</th>
            <th>Total Shows</th>
            <th>Average MetaScore</th>
            <th>MetaScore standard deviation</th>
            <th>Consistency (CV)</th>
            <th>Top Rated</th>
        </tr>
        {% for row in q13 %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row.company }}</td>
            <td>{{ row.total_shows }}</td>
            <td>{{ row.avg_metascore }}</td>
            <td>{{ row.metascore_stddev }}</td>
            <td>{{ row.metascore_cv_percent }}%</td>
            <td>{{ row.highly_rated_percent }}%</td>
        </tr>
        {% endfor %}
    </table>
    
    <p><a href="/queries/">Back to Queries</a></p>
</body>
{% endblock %}
