{% extends 'base.html' %}
{% block content %}
<head>
    <title>Query 15</title>
    <link rel="stylesheet" href="/static/queries.css">
</head>
<body>
    <h1>Decade Comparison</h1>
    
    <table border="1">
        <tr>
            <th>Decade</th>
            <th>Total Shows</th>
            <th>Average MetaScore</th>
            <th>MetaScore standard deviation</th>
            <th>MetaScore Consistency (CV)</th>
            <th>Average UserScore</th>
            <th>UserScore standard deviationv</th>
            <th>UserScore Consistency (CV)</th>
            <th>Average Seasons</th>
            <th>Average Duration (min)</th>
        </tr>
        {% for row in q15 %}
        <tr>
            <td>{{ row.decade }}</td>
            <td>{{ row.total_shows }}</td>
            <td>{{ row.avg_metascore }}</td>
            <td>{{ row.metascore_stddev }}</td>
            <td>{{ row.metascore_cv_percent }}%</td>
            <td>{{ row.avg_userscore }}</td>
            <td>{{ row.userscore_stddev }}</td>
            <td>{{ row.userscore_cv_percent }}</td>
            <td>{{ row.avg_seasons }}</td>
            <td>{{ row.avg_duration }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <p><a href="/queries/"> Back to queries </a></p>
</body>
{% endblock %}
